In [7]:
import pandas as pd
csv6 = pd.read_csv("data/006_lomo_orders_dataset.csv")
csv6.head(3)
csv6.count()

order_id                         99441
customer_id                      99441
order_status                     99441
order_purchase_timestamp         99441
order_approved_at                99281
order_delivered_carrier_date     97658
order_delivered_customer_date    96476
order_estimated_delivery_date    99441
dtype: int64

In [4]:
import pandas as pd
csv7 = pd.read_csv("data/007_lomo_order_items_dataset.csv")
csv7.head(3)

,order_id,order_item_id,product_id,seller_id,shipping_limit_date,price,freight_value
0,00010242fe8c5a6d1ba2dd792cb16214,1,4244733e06e7ecb4970a6e2683c13e61,48436dade18ac8b2bce089ec2a041202,19/09/2017 09:45,58.9,13.29
1,00018f77f2f0320c557190d7a144bdd3,1,e5f2d52b802189ee658865ca93d83a8f,dd7ddc04e1b6c2c614352b383efe2d36,03/05/2017 11:05,239.9,19.93
2,000229ec398224ef6ca0657da4fc703e,1,c777355d18b72b67abbeef9df44fd0fd,5b51032eddd242adc84c38acab88f23d,18/01/2018 14:48,199.0,17.87

In [30]:
import pandas as pd
csv4 = pd.read_csv("data/004_lomo_products_dataset.csv")
csv4.head(3)
csv4.count()

product_id                    32340
product_category_name         32340
product_name_lenght           32340
product_description_lenght    32340
product_photos_qty            32340
product_weight_g              32340
product_length_cm             32340
product_height_cm             32340
product_width_cm              32340
dtype: int64

In [5]:
merged_67 = csv6.merge(csv7,on=["order_id"])
merged_67.head(3)

,order_id,customer_id,order_status,order_purchase_timestamp,order_approved_at,order_delivered_carrier_date,order_delivered_customer_date,order_estimated_delivery_date,order_item_id,product_id,seller_id,shipping_limit_date,price,freight_value
0,e481f51cbdc54678b7cc49136f2d6af7,9ef432eb6251297304e76186b10a928d,delivered,02/10/2017 10:56,02/10/2017 11:07,04/10/2017 19:55,10/10/2017 21:25,18/10/2017 00:00,1,87285b34884572647811a353c7ac498a,3504c0cb71d7fa48d967e0e4c94d59d9,06/10/2017 11:07,29.99,8.72
1,53cdb2fc8bc7dce0b6741e2150273451,b0830fb4747a6c6d20dea0b8c802d7ef,delivered,24/07/2018 20:41,26/07/2018 03:24,26/07/2018 14:31,07/08/2018 15:27,13/08/2018 00:00,1,595fac2a385ac33a80bd5114aec74eb8,289cdb325fb7e7f891c38608bf9e0962,30/07/2018 03:24,118.70,22.76
2,47770eb9100c2d0c44946d9cf07ec65d,41ce2a54c0b03bf3443c3d931a367089,delivered,08/08/2018 08:38,08/08/2018 08:55,08/08/2018 13:50,17/08/2018 18:06,04/09/2018 00:00,1,aa4383b373c6aca5d8797843e5594415,4869f7a5dfa277a7dca6462dcf3b52b2,13/08/2018 08:55,159.90,19.22

In [28]:
grouped = merged_67.groupby(['order_status'] , sort = False).count()

In [29]:
grouped

,order_id,customer_id,order_purchase_timestamp,order_approved_at,order_delivered_carrier_date,order_delivered_customer_date,order_estimated_delivery_date,order_item_id,product_id,seller_id,shipping_limit_date,price,freight_value
order_status,,,,,,,,,,,,,
delivered,110197,110197,110197,110182,110195,110189,110197,110197,110197,110197,110197,110197,110197
invoiced,359,359,359,359,0,0,359,359,359,359,359,359,359
shipped,1185,1185,1185,1185,1185,0,1185,1185,1185,1185,1185,1185,1185
processing,357,357,357,357,0,0,357,357,357,357,357,357,357
canceled,542,542,542,542,76,7,542,542,542,542,542,542,542
unavailable,7,7,7,7,0,0,7,7,7,7,7,7,7
approved,3,3,3,3,0,0,3,3,3,3,3,3,3

In [31]:
merged_674 = merged_67.merge(csv4,on=["product_id"])
merged_674.head(3)

,order_id,customer_id,order_status,order_purchase_timestamp,order_approved_at,order_delivered_carrier_date,order_delivered_customer_date,order_estimated_delivery_date,order_item_id,product_id,...,price,freight_value,product_category_name,product_name_lenght,product_description_lenght,product_photos_qty,product_weight_g,product_length_cm,product_height_cm,product_width_cm
0,e481f51cbdc54678b7cc49136f2d6af7,9ef432eb6251297304e76186b10a928d,delivered,02/10/2017 10:56,02/10/2017 11:07,04/10/2017 19:55,10/10/2017 21:25,18/10/2017 00:00,1,87285b34884572647811a353c7ac498a,...,29.99,8.72,utilidades_domesticas,40,268,4,500,19,8,13
1,128e10d95713541c87cd1a2e48201934,a20e8105f23924cd00833fd87daa0831,delivered,15/08/2017 18:29,15/08/2017 20:05,17/08/2017 15:28,18/08/2017 14:44,28/08/2017 00:00,1,87285b34884572647811a353c7ac498a,...,29.99,7.78,utilidades_domesticas,40,268,4,500,19,8,13
2,0e7e841ddf8f8f2de2bad69267ecfbcf,26c7ac168e1433912a51b924fbd34d34,delivered,02/08/2017 18:24,02/08/2017 18:43,04/08/2017 17:35,07/08/2017 18:30,15/08/2017 00:00,1,87285b34884572647811a353c7ac498a,...,29.99,7.78,utilidades_domesticas,40,268,4,500,19,8,13

In [32]:
merged_674.count()

order_id                         111046
customer_id                      111046
order_status                     111046
order_purchase_timestamp         111046
order_approved_at                111032
order_delivered_carrier_date     109889
order_delivered_customer_date    108658
order_estimated_delivery_date    111046
order_item_id                    111046
product_id                       111046
seller_id                        111046
shipping_limit_date              111046
price                            111046
freight_value                    111046
product_category_name            111046
product_name_lenght              111046
product_description_lenght       111046
product_photos_qty               111046
product_weight_g                 111046
product_length_cm                111046
product_height_cm                111046
product_width_cm                 111046
dtype: int64

In [50]:
merged_674.to_csv('merged_674_.csv', index =False)

In [39]:
csv5 = pd.read_csv("data/005_lomo_product_category_name_translation.csv")
csv5.head(3)

  product_category_name_portugese product_category_name_english
0       agro_industria_e_comercio    agro_industry_and_commerce
1                       alimentos                          food
2               alimentos_bebidas                    food_drink

In [44]:
csv_5 = csv5.rename(columns = {'product_category_name_portugese':'product_category_name'})
csv_5

        product_category_name product_category_name_english
0   agro_industria_e_comercio    agro_industry_and_commerce
1                   alimentos                          food
2           alimentos_bebidas                    food_drink
3                       artes                          arts
4          artes_e_artesanato         arts_and_craftmanship
..                        ...                           ...
66    sinalizacao_e_seguranca        signaling_and_security
67   tablets_impressao_imagem        tablets_printing_image
68                  telefonia                     telephony
69             telefonia_fixa               fixed_telephony
70      utilidades_domesticas                    housewares

[71 rows x 2 columns]

In [46]:
merged_6745 = merged_674.merge(csv_5,on=["product_category_name"])

In [48]:
merged_6745.to_csv('merged_6745_.csv', index =False)

In [51]:
csv10 = pd.read_csv("data/010_lomo_marketing_qualified_leads_dataset.csv")
csv10.head(3)
csv10.count()
csv11 = pd.read_csv("data/011_lomo_closed_deals_dataset.csv")
csv11.head(3)
csv11.count()

mql_id                           842
seller_id                        842
sdr_id                           842
sr_id                            842
won_date                         842
business_segment                 842
lead_type                        842
lead_behaviour_profile           842
has_company                      842
average_stock                    842
business_type_org                842
declared_product_catalog_size    842
declared_monthly_revenue         842
dtype: int64

In [53]:
merged_leads = csv10.merge(csv11,on=["mql_id"])

In [54]:
merged_leads.to_csv('merged_leads.csv', index =False)